In [200]:
import psycopg2 
import pandas
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

engine = create_engine('postgresql://datamartetl:AlexMichael@lz-scraper.czn1pljrayu4.us-east-2.rds.amazonaws.com:5432/landingzone')

In [201]:
df = pandas.DataFrame
df = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.marketplaceitem GROUP BY etlsource,insertdatetime;',con=engine)
df['Table'] = 'marketplaceitem'
#print(df)

In [202]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.category GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'category'
#appending new table to the dataframe
df = df.append(dftemp)

In [203]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.categorytype GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'categorytype'
#appending new table to dataframe
df = df.append(dftemp)

In [204]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.console GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'console'
#appending new table to dataframe
df = df.append(dftemp)

In [205]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.marketentry GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'marketentry'
#appending new table to dataframe
df = df.append(dftemp)

In [206]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.businessentity GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'businessentity'
#appending new table to dataframe
df = df.append(dftemp)

In [207]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.source GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'source'
#appending new table to dataframe
df = df.append(dftemp)

In [208]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.marketplaceitemrelationship GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'marketplaceitemrelationship'
#appending new table to dataframe
df = df.append(dftemp)

In [209]:
dftemp = pandas.DataFrame
dftemp = pandas.read_sql_query('SELECT etlsource,insertdatetime, COUNT(*) as rec_count FROM datamart.relationshiptype GROUP BY etlsource,insertdatetime;',con=engine)
dftemp['Table'] = 'relationshiptype'
#appending new table to dataframe
df = df.append(dftemp)

In [218]:
df['rec_count']=df['rec_count'].apply(pandas.to_numeric)

In [219]:
df

,etlsource,insertdatetime,rec_count,Table
0,sonymarketplace_scraperdataTOdatamart,2018-04-07 04:34:07.724548,2487,marketplaceitem
1,steammarketplace_scraperdataTOdatamart,2018-04-07 04:39:17.651327,31625,marketplaceitem
0,steammarketplace_scraperdataTOdatamart,2018-04-07 23:49:54.283793,11593,category
1,steammarketplace_scraperdataTOdatamart,2018-04-07 23:27:49.087242,407388,category
0,ManualEntry,2018-04-02 00:53:39.958747,7,categorytype
1,ManualEntry,2018-04-02 00:53:33.349189,1,categorytype
2,sonymarketplace_scraperdataTOdatamart,2018-03-25 21:53:45.764739,7,categorytype
0,ManualEntry,2018-03-25 21:43:00.071034,5,console
0,steammarketplace_scraperdataTOdatamart,2018-04-07 23:49:17.195632,16071,marketentry
1,steammarketplace_scraperdataTOdatamart,2018-04-07 23:01:09.363934,16071,marketentry
2,steammarketplace_scraperdataTOdatamart,2018-04-07 22:58:18.914821,44414,marketentry
3,steammarketplace_scraperdataTOdatamart,2018-04-07 23:27:11.605055,16071,marketentry
4,steammarketplace_scraperdataTOdatamart,2018-04-08 00:06:44.537517,16071,marketentry
5,steammarketplace_scraperdataTOdatamart,2018-04-08 00:02:29.407505,16071,marketentry
0,steammarketplace_scraperdataTOdatamart,2018-04-08 00:19:51.841613,13145,businessentity
0,ManualEntry,2018-03-25 21:43:00.071034,3,source
0,ManualInsert,2018-03-29 01:10:15.141559,1,relationshiptype
1,ManualInsert,2018-03-28 18:08:13.313517,2,relationshiptype

In [225]:
df.plot(x=['Table','etlsource'],y='rec_count'.pandas.to_numeric.cumsum(),kind='barh')

AttributeError: 'str' object has no attribute 'pd'

In [171]:
plt.show()